In [1]:
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
train = pd.read_csv('data/train.csv', usecols=['Semana','Cliente_ID', 'Producto_ID', 'Demanda_uni_equil'])

In [ ]:
h = train.groupby(['Cliente_ID','Producto_ID']).sum()

### Calculations of average demanda (over 7 weeks) for each pair of Cliente and Producto

In [67]:
h2.Demanda_uni_equil = h.Demanda_uni_equil/7

In [84]:
h.head()

                        Semana  Demanda_uni_equil
Cliente_ID Producto_ID
26         1182             18           5.571429
           4767             18          18.000000
           30235             9          13.714286
           30314             7           6.857143
           31393            42          17.000000

In [88]:
h2= h.drop('Semana', axis=1)

#### Save data of cliente, producto and avg demand to a CSV file, ~ 800 MB

In [112]:
h2.to_csv('data/clitente_producto_demand.csv')

In [113]:
h2.shape

(25831538, 1)

##### Loading the cpd file (stands for cliente_producto_demanda relationship)

In [114]:
cpd = pd.read_csv('data/clitente_producto_demand.csv')

In [115]:
print ('In cpd.csv, there are: ')
for col in cpd.columns:
     print ('{:>10}{:>20}'.format(len(cpd[col].value_counts()), col))

In cpd.csv, there are:
    880604          Cliente_ID
      1799         Producto_ID
      4651   Demanda_uni_equil

In [116]:
cpd.shape

(25831538, 3)

In [117]:
cpd.head()

   Cliente_ID  Producto_ID  Demanda_uni_equil
0          26         1182           5.571429
1          26         4767          18.000000
2          26        30235          13.714286
3          26        30314           6.857143
4          26        31393          17.000000

In [118]:
test = pd.read_csv('data/test.csv', )

In [119]:
test.head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [121]:
print ('In cpd.csv, there are: ')
for col in test.columns:
     print ('{:>10}{:>20}'.format(len(test[col].value_counts()), col))

In cpd.csv, there are:
   6999251                  id
         2              Semana
       552          Agencia_ID
         9            Canal_ID
      2608            Ruta_SAK
    745164          Cliente_ID
      1522         Producto_ID

In [139]:
train_prod_unique = set(cpd['Producto_ID'].unique())
test_prod_unique = set(test['Producto_ID'].unique())
train_client_unique = set(cpd['Cliente_ID'].unique())
test_client_unique = set(test['Cliente_ID'].unique())

In [141]:
print(len(test_prod_unique.difference(train_prod_unique)))
print(len(test_client_unique.difference(train_client_unique)))

34
9663

In [142]:
cpd.head()

   Cliente_ID  Producto_ID  Demanda_uni_equil
0          26         1182           5.571429
1          26         4767          18.000000
2          26        30235          13.714286
3          26        30314           6.857143
4          26        31393          17.000000

In [146]:
cpd.Cliente_ID.unique()

array([        26,         60,         65, ...,   19988629,   99999999,
       2015152015])

In [147]:
cpd.Producto_ID.unique()

array([ 1182,  4767, 30235, ..., 35499, 35501, 35510])

In [149]:
print(len(cpd.as_matrix(columns=['Cliente_ID', 'Producto_ID'])))

25831538

In [170]:
prod_dict = {}
for pid, p in enumerate(train_prod_unique):
        prod_dict[p] = pid

print(len(prod_dict))

client_dict = {}
for cid, c in enumerate(train_client_unique):
        client_dict[c] = cid

print(len(client_dict))

1799
880604

In [196]:
import numpy as np
np.set_printoptions(threshold=8)

In [190]:
client_prod_matrix = np.zeros((len(train_client_unique), len(train_prod_unique)))
# test_matrix = np.zeros((len(train_client_unique), len(train_prod_unique)))

x = 0
for df_idx, row in cpd.iterrows():
    x += 1
    if x % 1000000 == 0:
        print(x)
    m = client_dict[row['Cliente_ID']]
    n = prod_dict[row['Producto_ID']]
    client_prod_matrix[m,n] = row['Demanda_uni_equil']
#     test_matrix[m,n] = row['Demanda_uni_equil']

1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000
10000000
11000000
12000000
13000000
14000000
15000000
16000000
17000000
18000000
19000000
20000000
21000000
22000000
23000000
24000000
25000000

In [197]:
print(test_matrix)

[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [198]:
np.cov(test_matrix)

KeyboardInterrupt:

In [ ]:
np.save('data/matrix.npy',client_prod_matrix )