In [1]:
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
train = pd.read_csv('data/train.csv', usecols=['Semana','Cliente_ID', 'Producto_ID', 'Demanda_uni_equil'])

In [ ]:
h = train.groupby(['Cliente_ID','Producto_ID']).sum()

### Calculations of average demanda (over 7 weeks) for each pair of Cliente and Producto

In [67]:
h2.Demanda_uni_equil = h.Demanda_uni_equil/7

In [84]:
h.head()

                        Semana  Demanda_uni_equil
Cliente_ID Producto_ID
26         1182             18           5.571429
           4767             18          18.000000
           30235             9          13.714286
           30314             7           6.857143
           31393            42          17.000000

In [88]:
h2= h.drop('Semana', axis=1)

#### Save data of cliente, producto and avg demand to a CSV file, ~ 800 MB

In [90]:
h2.to_csv('data/clitente_producto_demand.csv')

In [94]:
h2.shape

(25831538, 1)

##### Loading the cpd file (stands for cliente_producto_demand relationship)

In [95]:
cpd = pd.read_csv('data/clitente_producto_demand.csv')

In [101]:
print ('In cpd.csv, there are: ')
for col in cpd.columns:
     print ('{:>10}{:>20}'.format(len(cpd[col].value_counts()), col))

In cpd.csv, there are:
    880604          Cliente_ID
      1799         Producto_ID
      4651   Demanda_uni_equil