In [238]:
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [239]:
train = pd.read_csv('data/train.csv', usecols = ['Cliente_ID',
       'Producto_ID','Demanda_uni_equil' ])

In [240]:
print ('In train.csv, there are: ')
for col in train.columns:
     print ('{:>10}{:>20}'.format(len(train[col].value_counts()), col))

In train.csv, there are:
    880604          Cliente_ID
      1799         Producto_ID
      2091   Demanda_uni_equil

In [241]:
train.shape

(74180464, 3)

In [178]:
#train['log1p_demand'] = np.log1p(train.Demanda_uni_equil)

In [242]:
train.head(3)

   Cliente_ID  Producto_ID  Demanda_uni_equil
0       15766         1212                  3
1       15766         1216                  4
2       15766         1238                  4

In [189]:
#mean_demand = train.groupby(['Cliente_ID','Producto_ID']).mean()
#mean_demand['log1p_mean'] = np.expm1(mean_demand.log1p_demand)
#mean_demand.drop('log1p_demand', axis = 1, inplace = True)
#global_mean = mean_demand.Demanda_uni_equil.mean()

In [190]:
#print ('Global mean of demanda:', global_mean)
#mean_demand.shape

Global mean of demanda: 5.469492702975347

(25831538, 1)

In [246]:
median_demand = train.groupby(['Cliente_ID','Producto_ID']).median()
#median_demand.drop('log1p_demand', axis = 1, inplace = True)
median_demand.tail()

                        Demanda_uni_equil
Cliente_ID Producto_ID
2015152015 2665                       7.0
           3270                      14.0
           4270                      10.0
           4280                       6.0
           31717                      4.0

In [247]:
global_median = median_demand.Demanda_uni_equil.median()
print ('Global median of demanda: ', global_median)

Global median of demanda:  3.0

In [41]:
#mean_demand['median'] = median_demand.Demanda_uni_equil
#mean_demand.head()

In [330]:
#mean_demand.to_csv('data/mean.csv')
median_demand.to_csv('data/median.csv')

In [331]:
check = train[train.Cliente_ID == 2025]
check.head()

         Cliente_ID  Producto_ID  Demanda_uni_equil
7500453        2025         1109                  4
7500454        2025         1125                  8
7500455        2025         1146                  4
7500456        2025         1150                 10
7500457        2025         1160                  5

In [332]:
median = pd.read_csv('data/median.csv')

In [334]:
median.shape

(25831538, 3)

In [335]:
test = pd.read_csv('data/test.csv', usecols=['Cliente_ID', 'Producto_ID'])

In [336]:
test.head()

   Cliente_ID  Producto_ID
0     4639078        35305
1     4705135         1238
2     4549769        32940
3     4717855        43066
4      966351         1277

In [322]:
test.shape

(6999251, 2)

In [337]:
results = test.merge(median, on = ['Cliente_ID','Producto_ID'], how='left')

In [339]:
results.head()

   Cliente_ID  Producto_ID  Demanda_uni_equil
0     4639078        35305                4.0
1     4705135         1238                NaN
2     4549769        32940                2.0
3     4717855        43066                NaN
4      966351         1277                NaN

In [340]:
results = results.fillna(global_median)

In [341]:
results.head(3)

   Cliente_ID  Producto_ID  Demanda_uni_equil
0     4639078        35305                4.0
1     4705135         1238                3.0
2     4549769        32940                2.0

In [342]:
results.drop(['Cliente_ID','Producto_ID'], axis = 1, inplace = True)

In [343]:
results.to_csv('data/results_submission.csv', index_label=['id'])